<%= form_for(@student) do |s| %>
  <label>Student first_name:</label><br>
  <%= s.text_field :title %><br>

  <label>Student last_name:</label><br>
  <%= s.text_field :title %><br>

  <%= s.submit %>
<% end %>
