<%= form_for(@SchoolClass) do |s| %>
  <label>School Class First Name:</label><br>
  <%= s.text_field :title %><br>

  <label>School Class Last Name:</label><br>
  <%= s.text_field :room_number %><br>

  <%= s.submit %>
<% end %>
